# Python / Django
backend/venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.env

# Node / React
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
